.modal {
    @apply flex fixed inset-0 z-[100] justify-center bg-black/50 overflow-auto;

    & > * {
        @apply max-w-[90%] bg-white h-fit w-fit rounded-2xl shadow p-6 my-16 md:rounded-lg sm:p-3;

        transition: all 0.15s ease;
        animation: fade 0.3s;
    }
}
.modal-center {
    @apply items-center max-h-dvh;

    & > * {
        @apply m-0;
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.progress-bar {
    @apply fixed inset-x-0 top-0 w-[70vw] h-1.5 bg-white m-0 p-0 rounded-none;
    animation: loading 2s ease-in-out infinite alternate;
    transform: translateZ(0);
}

@keyframes loading {
    from {
        left: -70vw;
    }

    to {
        left: 100%;
    }
}
